%h1 Here be the dwelling homepage 

%hr
%h3= link_to 'Roomates', dwelling_path(current_dwelling)
%hr
%h3= link_to 'Bills', bills_path
%hr
%h3= link_to 'Events', events_path
%hr
%h3= link_to 'Lists', shopping_lists_path
%hr
%h3= link_to 'Messages', messages_path
%hr