.message-container
  %h4
    = message.user.name
    %small
      = message.date
  .message-details
    %span.body
      %pre= message.body
  .show-message-options
    = link_to 'Show', message_path(message), class: 'btn btn-success btn-small'
    = link_to 'Edit', edit_message_path(message), class: 'btn btn-warning btn-small'
    = link_to 'Destroy', message_path(message), :method => :delete , :data => {:confirm => 'Are you sure?'}, class: 'btn btn-danger btn-small'
%br