.feed-container
  .inner-body
    .speech-box
      = form_for Post.new do |f|
        = f.text_area :body, :class => 'text-bubble', :placeholder => "What do you wanna tell your roomies?", rows: 1, :id => 'comment-input';
        = f.submit "Post", :class => "submit-comment-button btn btn-inverse"
    .feed-info-container
      %h3
        Dwelling Feed
      - messages.each do |message|
        - if message.is_a? Post
          = render 'posts/details', post: message
        - elsif message.is_a? Notification
          = render 'notifications/details', notification: message
