%h1 Listing dwellings

%table
  %tr
    %th Name
    %th Owner
    %th
    %th
    %th

  - @dwellings.each do |dwelling|
    %tr
      %td= dwelling.name
      %td= dwelling.owner.name
      %td= link_to 'Show', dwelling
      %td= link_to 'Edit', edit_dwelling_path(dwelling)
      %td= link_to 'Destroy', dwelling, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Dwelling', new_dwelling_path
