%p
  %dt Owner:
  %dd= link_to @dwelling.owner.name, user_path(@dwelling.owner)
  %dt Time Zone:
  %dd= @dwelling.time_zone
  %h4 Roomates:
  %table.table
    - for user in @dwelling.users
      %tr
        %td= link_to user.name, user_path(user)
- if current_user == current_dwelling.owner
  %p
    %h4 Invites:
    = link_to 'New Invite', new_dwelling_invite_path(@dwelling), class: 'btn btn-block btn-inverse'
    = render :partial => 'dwelling_invites/table', :locals => {:@invites => @dwelling.invites}
