%p#notice= notice

- if current_user == @user
  = link_to 'Settings', account_settings_user_path, class: 'btn'

%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Email:
  = @user.email

