.feed-post
  %ul.media-list
    %li.media
      %a.pull-left(href="#")
        =profile_picture_tag(current_user)
      .media-body
        .media-heading
          #{event.owner.name}
        %h4.media-heading
          #{event.name}
          %small(style="float:right; margin-right:5px;")
            - if event.date < Time.now
              started #{distance_of_time_in_words_to_now event.date} ago
            - else
              in #{distance_of_time_in_words_to_now event.date}
            - if current_user == event.owner
              = link_to [:edit, event] do
                %i.icon-edit
              = link_to(event, method: :delete) do
                %i.icon-remove
        = event.description
        %h4
          %small.comments.pull-right
            = link_to pluralize(event.comments.count, "comment"), event
