%h1= @event.title

%pre= find_and_preserve @event.description

%p
  %b Posted by:
  = @event.user.name
%p
  %b When:
  =  @event.date.strftime('%A %B %e %l:%M %P')

- if current_user == @event.user
  = link_to 'Edit', edit_dwelling_event_path(@event.dwelling, @event)
  \|
  = link_to 'Destroy', dwelling_event_path(@event.dwelling, @event), :method => :delete, :data => { :confirm => 'Are you sure?' }
  \|
= link_to 'Back', dwelling_events_path(@event.dwelling)
