.bill-container
  %h4
    = bill.name
    %small
      = ' - ' + bill.owed_to
    %small.pull-right
      = bill.owner.name
  .bill-details
    %span.amount-due
      %p
        Amount Due
      %h3
        = number_to_currency(bill.amount, :unit => "$")
    %span.date-due
      %p
        Date Due
      %h3
        = bill.date_due.month.to_s + '/' + bill.date_due.day.to_s + '/' + bill.date_due.year.to_s
        - date_rem = (bill.date_due - Date.today).to_i
        - if date_rem == 0
          %small (Today)
        - elsif date_rem < 0
          %small= "(Overdue " + (-date_rem).to_s + " days)"
        - else
          %small= "("+date_rem.to_s + " days)"
    %span.status
      %p
        Status
      - payment_sum = bill.payment_sum
      %h3{:class => (payment_sum < bill.amount ? 'unpaid' : 'paid')}
        = (payment_sum < bill.amount ? 'unpaid' : 'paid')
    .show-bill-options
      .contents
        = link_to 'Show', bill_path(bill), class: 'btn btn-success btn-small'
        - if current_user == bill.owner
          = link_to 'Edit', edit_bill_path(bill), class: 'btn btn-warning btn-small'
          = link_to 'Destroy', bill_path(bill), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-small'
%br
