%h1 Upcoming Bills
%ul#bill-list
  - @bills.each do |bill|
    %li
      %h3
        = bill.name
        %span.muted.small= ' - '+bill.owed_to
      %table
        %tr
          %th.muted Amount Due
          %th.muted Date Due
          %th.muted Status
        %tr
          %td= '$'+bill.amount.to_s
          %td
            = bill.date_due
            - date_diff = (bill.date_due - Date.today).to_i
            - if date_diff == 0
              %span.muted= (Today)
            - elsif date_diff < 0
              %span.muted= "(Overdue "+(-date_diff).to_s+" days)"
            - else
              %span.muted= "("+date_diff.to_s + " days)"
          %td{:class => bill.status}= bill.status
      = link_to 'Show', dwelling_bill_path(:dwelling_id => bill.dwelling_id, :id => bill.id)
      = link_to 'Edit', edit_dwelling_bill_path(:dwelling_id => bill.dwelling_id, :id => bill.id )
      = link_to 'Destroy', dwelling_bill_path(:dwelling_id => bill.dwelling_id, :id => bill.id), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
 
= link_to 'New Bill', new_dwelling_bill_path(params[:dwelling_id])
