%p#notice= notice

%p
  %b Name:
  = @bill.name
%p
  %b Owed to:
  = @bill.owed_to
%p
  %b Amount:
  = @bill.amount
%p
  %b Date due:
  = @bill.date_due
%p
  %b Status:
  = @bill.status

= link_to 'Edit', edit_dwelling_bill_path(:dwelling_id => @bill.dwelling_id, :id => @bill.id)
\|
= link_to 'Back', dwelling_bills_path(:dwelling_id => @bill.dwelling_id)


