= form_for @chore do |f|
  - if @chore.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chore.errors.count, "error")} prohibited this chore from being saved:"
      %ul
        - @chore.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :assigned_user_id
    = f.collection_select :assigned_user_id, @dwelling.users, :id, :name
  / .field
  /   = f.label :dwelling_id
  /   = f.number_field :dwelling_id
  .actions
    = f.submit 'Save'
