%h1 Listing chores

%table
  %tr
    %th Name
    %th Description
    %th Owner
    %th Assigned user
    %th Dwelling
    %th
    %th
    %th

  - @chores.each do |chore|
    %tr
      %td= chore.name
      %td= chore.description
      %td= chore.owner.name
      %td= chore.assigned_user.name if chore.assigned_user
      %td= chore.dwelling_id
      %td= link_to 'Show', chore
      %td= link_to 'Edit', edit_chore_path(chore)
      %td= link_to 'Destroy', chore, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Chore', new_chore_path
