%p#notice= notice

%p
  %b Name:
  = @chore.name
%p
  %b Description:
  = @chore.description
%p
  %b Assigned user:
  = @chore.assigned_user_id
%p
  %b Dwelling:
  = @chore.dwelling_id

= link_to 'Edit', edit_chore_path(@chore)
\|
= link_to 'Back', chores_path
