%p#notice= notice

%ul.chores
  = render 'chores/details', chore: @chore

.body-container
  .feed-container
    .inner-body
      .feed-info-container
        %br
        = render 'comments/all', dwelling_item: @chore

  = link_to 'Edit', edit_chore_path(@chore)
  \|
  = link_to 'Back', chores_path
