%p#notice= notice

%p
  %b Name:
  = @chore.name
%p
  %b Description:
  = @chore.description
%p
  %b Owner:
  = @chore.owner.name
%p
  %b Assigned user:
  = @chore.assigned_user.name

.body-container
  .feed-container
    .inner-body
      .feed-info-container  
        %br
        = render 'comments/all', dwelling_item: @chore 

  = link_to 'Edit', edit_chore_path(@chore)
  \|
  = link_to 'Back', chores_path
