!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Roomie"
    = csrf_meta_tags
    / HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="favicon.ico" rel="shortcut icon")


  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href=root_path)= current_dwelling ? current_dwelling.name : "Roomie"
          .collapse.nav-collapse
            - if current_dwelling
              %ul.nav
                %li.divider-vertical
                %li{class: current_page?(bills_path) ? :active : nil}
                  = link_to "Bills", bills_path
                %li{class: current_page?(chores_path) ? :active : nil}
                  = link_to "Chores", chores_path
                %li{class: current_page?(events_path) ? :active : nil}
                  = link_to "Events", events_path
                %li{class: current_page?(shopping_lists_path) ? :active : nil}
                  = link_to "Lists", shopping_lists_path
                %li{class: current_page?(posts_path) ? :active : nil}
                  = link_to "Posts", posts_path
            %ul.nav.pull-right
              %li.divider-vertical
              - if current_user
                %li
                  = link_to current_user.name, user_path(current_user)
                %li(data-toggle='tooltip' data-original-title='Account Settings')
                  = link_to account_settings_user_path(current_user) do
                    %span.hidden-desktop
                      Account Settings
                    %i.icon-wrench
                %li(data-toggle='tooltip' data-original-title='Logout')
                  = link_to logout_path do
                    %span.hidden-desktop
                      Logout
                    %i.icon-lock

              - else
                %li
                  %a(href="#myModal" data-toggle="modal")
                    Sign In
    .container
      .row
        .span12
          = bootstrap_flash
        - unless current_user
          #myModal.modal.hide.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            .modal-body
              = render :partial => "sessions/login"
        - if content_for?(:sidebar)
          / sidebar
          .span4
            = yield(:sidebar)
            / content
          .span8
            = yield(:content)
        - else
          /
            content
          .span12
            = yield
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
